@import 'common.scss';

.homeMainHoleContainer {
  @include box-display(flex, 100%, auto, center, center);
  flex-direction: column;
  background-color: gray;
}

.titleContainer {
  @include box-display(flex, 90%, 15vh, flex-start, flex-end);
  padding: 5%;
  background-color: white;
  margin-bottom: 1%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.share {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 15px;
  border: none;
}

.introContainer {
  @include box-display(flex, 90%, 15vh, normal, space-between);
  flex-direction: column;
  padding: 5%;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
}

.guideBtnContainer {
  @include box-display(flex, auto, auto, normal, flex-end);
  flex-direction: row;
}

.guideBtnExplain {
  white-space: pre-wrap;
  font-size: 1.7vh;
}

.goGuideBtn {
  @include box-display(flex, 5vh, 5vh, center, center);
  color: black;
  font-size: 70%;
}

.categoriesContainer {
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
}

.contentContainer {
  width: 100%;
  border-radius: 10px;
}

.categoriImg {
  background-color: gray;
  margin-left: 5;
}

.categoriesScrollContainer {
  @include box-display(block, 100%, 15%, center, center);
}

.categoriItem {
  @include box-display(flex, 5em, 5em, center, center);
  color: black;
  background-color: gray;
  border-radius: 10%;
  margin: 6px 10px;
}

.foodBox {
  @include box-display(flex, 90%, auto, normal, space-between);
  flex-direction: row;
  padding: 5%;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  div {
    width: 100%;
  }
}

.categoriBox {
  @include box-display(flex, auto, auto);
  flex-direction: column;
  background-color: white;
  margin-bottom: 1%;
  border-radius: 10px;
  h1 {
    margin-top: 1%;
  }
}

.foodExplain {
  & + & {
    margin-top: 5%;
  }
  width: 40%;
}

.foodBox > .foodImg {
  @include box-display(block, 40%, auto);
  background-color: gray;
}

h1 {
  margin-left: 2.5%;
  margin-top: 0;
  margin-bottom: 0;
}

.goCartBtn {
  @include box-display(block, 6vh, 6vh, center, center);
  color: black;
  position: fixed;
  right: 3%;
  bottom: 3%;
}

.homeGoCartLink > .cartAmount {
  @include box-display(block, 2vh, 2vh, center, center);
  color: red;
  position: fixed;
  right: 3%;
  bottom: 8%;
  z-index: 5;
}
